<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
		<title>前端学习</title>
	</head>
	<body>
		<div class="header">
		</div>
		<div class="UI-info">
			<h2>{{search_title}}</h2>
			<p>{{msg}}</p>
		</div>
		<hr>
		<div class="UI-info">
			<h2>查询地标处信息</h2>
			<form action="/search-pos-info/" method="post">
        		{% csrf_token %}
        		<input type="text" name="q">
        		<input type="submit" value="搜索">
    		</form>
			<p>选择地标后可以输出对应地标处信息</p>
		</div>
		<hr >
		<div class="UI-info">
			<h2>查询最短路径</h2>
			<form action="/search-path/" method="post">
    			{% csrf_token %}
    			<input type="text" name="start" placeholder="起点">
    			<input type="text" name="end" placeholder="终点">
				<input type="submit" value="搜索">
			</form>
		</div>
		<div class="row"></div>
	</body>
</html>
